---
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: None
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '0'
IndentCaseLabels: 'true'
IndentPPDirectives: BeforeHash
IndentWidth: '6'
NamespaceIndentation: All
ReflowComments: 'false'
IndentPPDirectives: None
...
